<%= link_to root_path do %>
  <h1 class="logo">空間</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-4 bg-info">
          About
        </div>
        <div class="col-8 bg-primary">
          b
        </div>
      </div>
      <div class="row">
        <div class="col-6 bg-success">
          イベント
        </div>
        <div class="col-6 bg-info">
          b
        </div>
      </div>
      <div class="row bg-light">
        <%= link_to "Top", root_path %>
        <%= link_to "About", root_path, class: "ml-3" %>
        <%= link_to "Contact", root_path, class: "ml-3" %>
        <%= link_to "Login", login_path, class: "ml-3" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      
    </div>
  </div>
</div>