<div class="row bg-info">
  <div class="mx-auto icon">
    <%= link_to "(仮)設定", edit_user_path(user) %>
  </div>
</div>
<div class="row">
  <div class="mx-auto text-center">
    <div class="mt-5"><%= link_to "プロフィール情報", user_path(user), class: "link-base" %></div>
    <div class="mt-5"><%= link_to "イベント", "#", class: "link-base" %></div>
    <div class="mt-5"><%= link_to "フォロー", "#", class: "link-base" %></div>
    <div class="mt-5"><%= link_to "気になる", "#", class: "link-base" %></div>
  </div>
</div>