<div class="row">
  <div class="mx-auto user-nav-btn">
    <% if user.image? %>
      <%= image_tag user.image.url, class: "icon border" %>
    <% else %>
      <%= image_tag "/assets/default.jpg", class: "icon border" %>
    <% end %>
    
    <% if current_user == user %>
      <%= link_to edit_user_path, class: "setting-btn border" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% else %>
      <%= render "relationships/follow", user: user %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="mx-auto text-center">
    <div class="mt-5"><%= link_to "プロフィール情報", user_path, class: "link-base" %></div>
    <div class="mt-5"><%= link_to "イベント", "#", class: "link-base" %></div>
    <div class="mt-5"><%= link_to "フォロー", followings_user_path(user), class: "link-base" %></div>
    <div class="mt-5"><%= link_to "気になる", "#", class: "link-base" %></div>
  </div>
</div>