<div class="row bg-info">
  <div class="mx-auto icon">
    <%= link_to "(仮)設定", edit_user_path(user) %>
  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <nav class="navbar-light">
      <ul class="navbar-nav text-center">
        <li class="nav-item mt-4"><%= link_to "プロフィール情報", user_path(user), class: "nav-link" %></li>
        <li class="nav-item mt-4"><%= link_to "イベント", "#", class: "nav-link" %></li>
        <li class="nav-item mt-4"><%= link_to "フォロー", "#", class: "nav-link" %></li>
        <li class="nav-item mt-4"><%= link_to "気になる", "#", class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</div>