<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="row">
        <div class="mx-auto">
          <%= link_to "イベント", search_events_path, class: "" %>
          <%= link_to "ユーザー", search_users_path, class: "" %>
        </div>
      </div>
      <h4 class="mt-5">検索条件</h4>
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <div class ="form-group font-weight-bold mt-4">
        キーワード
        <%= f.text_field :keyword, class: "form-control form-control-sm" %>
      </div>
      <div class ="form-group font-weight-bold mt-4">
        ジャンル
        <%= f.select :genre, Event.genres.keys,{ include_blank: '選択してください'}, { class: "form-control form-control-sm"} %>
      </div>
      <div class ="form-group font-weight-bold mt-4">
        都道府県
        <%= f.select :prefecture, Event.prefectures.keys,{ include_blank: '選択してください'}, { class: "form-control form-control-sm"} %>
      </div>
      <div class ="row">
        <div class ="mx-auto mt-5">
          <%= f.submit "検索する", class: "submit-btn" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>