<div class="row bg-light border">
  <div class="col-10 mx-auto">
  <%= form_with(model: event, local:true,) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row form-group mt-5">
    <h6 class="col-4 mt-5">イベント画像</h6>
    <div class="col-8 mt-5">
      <%= f.label :image do %>
        <% if event.image? %>
          <%= image_tag event.image.url, class: "img-responsive center-block event-img" %>
        <% else %>
          <%= image_tag "/assets/default.jpg", :size => "330x330" %>
        <% end %>
        <%= f.file_field :image, style: "display:none"  %>
      <% end %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :title, "イベント名", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.text_field :title, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :start_time, "日時", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= raw sprintf(f.datetime_select(:start_time, {use_month_numbers: true, start_year: (Time.now.year), end_year: (Time.now.year + 2), minute_step: 10, date_separator: '%s', datetime_separator: '%s'}, { class: "form-control form-control-sm datetime_form"}), '年', '月', '日') %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :finish_time, "場所", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= raw sprintf(f.time_select(:finish_time, {minute_step: 10, time_separator: '%s'}, { class: "form-control form-control-sm datetime_form"}), ":") %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :place, "場所", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.text_field :place, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row form-group justify-content-end mt-4">
    <div class="col-8">
      <%= f.select :prefecture, Event.prefectures.keys,{ include_blank: "選択してください"}, { class: "form-control form-control-sm"} %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :price, "料金", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.text_field :price, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :kind, "種類", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.select :kind, Event.kinds.keys,{ include_blank: "選択してください"}, { class: "form-control form-control-sm"} %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :genre, "ジャンル", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.select :genre, Event.genres.keys,{ include_blank: "選択してください"}, { class: "form-control form-control-sm"} %>
    </div>
  </div>
  <div class="row form-group mt-4">
    <%= f.label :detail, "イベント説明", class: "col-4 col-form-label" %>
    <div class="col-8">
      <%= f.text_area :detail, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class ="row form-group my-5">
    <div class ="mx-auto">
      <%= f.submit "投稿する", class: "submit-btn" %>
    </div>
  </div>
  <% end %>
  </div>
</div>