<nav class="navbar navbar-light fixed-top px-5 py-3">
  <% if logged_in? %>
    <a href="/events" class="navbar-brand ml-3">空間</a>
  <% else %>
    <a href="/" class="navbar-brand ml-3">空間</a>
  <% end %>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item"><%= link_to "プロフィール", user_path(current_user), class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "一覧", events_path, class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "探す", search_events_path, class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "ヘルプ", "#", class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "お問い合わせ", "#", class: "nav-link ml-3" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "空間について", "#", class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "一覧", events_path, class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "新規登録", signup_path, class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "ヘルプ", "#", class: "nav-link ml-3" %></li>
        <li class="nav-item"><%= link_to "お問い合わせ", "#", class: "nav-link ml-3" %></li>
      <% end %>
    </ul>
  </div>
</nav>

  
